[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
ffmpeg-python = "*"
python-dotenv = "*"
windows-curses = "*"
clean-text = "*"
unidecode = "*"
spinners = "*"

[dev-packages]

[requires]
python_version = "3.11"
